#aboutusheader {
  background-color: #837960;
  background-image: linear-gradient(to left, transparent, #12100e 80%),
    url("../images/violin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  color: #fff;
  #text {
    padding: 25vh 5vw 25vh;
  }
}

#wwa {
  text-align: center;
  padding: 4vh 5vw;
  #wwatitle {
    text-shadow: 3px 3px 10px white;
  }
  #wwatextcontent {
    padding: 2vh 0 0;
  }
}

.category {
  display: flex;
  width: 80%;
  margin: 3vh auto;
  align-items: stretch;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(5px 5px 10px grey);

  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: #c2b6b6;
    background-image: linear-gradient(220deg, #c2b6b6 0%, #576574 74%);

    color: #fff;
    align-items: center;
    text-align: center;

    .textcontent {
      width: 70%;
      margin: 0 auto;
    }

    #icons {
      display: flex;
      img {
        width: 50px;
        margin: 10px;
      }
    }
  }
  .image {
    width: 50%;
    text-align: center;
    img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
      margin: 0 auto;
    }
  }
}

#ourstaff {
  text-align: center;
  background-color: #c2b6b6;
  background-image: linear-gradient(0deg, #c2b6b6 0%, #576574 74%);
  padding: 2vh 2vh 0;
  margin-top: 10vh;
  color: #fff;

  #ourstafftitle {
    font-size: 4rem;
    margin-top: 4vh;
    margin-bottom: 0vh;
  }
  .container {
    margin: 3vh auto 0vh;
    padding: 2vh 2vh 0;

    .staffsectiontitle {
      text-transform: uppercase;
      text-shadow: 0px 0px 5px #fff;
    }
    .staff {
      font-family: "Roboto", sans-serif;
      font-weight: 200;

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
        filter: drop-shadow(0px 0px 10px black);
      }
    }
    .row {
      justify-content: center;
      .col {
        margin: 1vh 0;
      }
    }
  }
  #adminassistant {
    .staff {
      margin-top: 1vh;
    }
  }
}

@media screen and (max-width: 700px) {
  #aboutusheader {
    #text {
      padding: 10vh 5vw 10vh;
    }
  }
  #wwa {
    padding: 2vh 5vw;
    #wwatextcontent {
      padding: 0.5vh 0 0;
    }
  }
  .category {
    flex-direction: column;
    width: 80%;
    margin: 1vh auto;
    .text {
      padding: 1vh;
      width: 100%;
      .textcontent {
        width: 80%;
      }
    }
    .image {
      display: none;
    }
  }
  #ourstaff {
    margin-top: 4vh;
  }
}
