footer {
  padding: 4vh 0vh 2vh;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  color: #fff;
  text-align: center;
  font-weight: 100;

  .hstack {
    margin: auto;
    align-self: start;
    align-items: flex-start;

    .vstack {
      text-align: left;

      a {
        margin: 0px;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        margin-bottom: 2px;

        img {
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }
      }

      .contactlogo {
        height: 4vh;
        width: 4vh;
      }

      .title {
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
      }
      .subtitle {
        display: inline-block;
      }
    }
  }
}
#imgvertical {
  display: inline-block;
  width: 10vw;
}
#contactusvertical {
  width: 5vw;
  height: auto;
}
#contactusvertical #facebooklogo {
  margin-left: 0px;
}
#contactusvertical p {
  margin: 0px 5px;
}
#contactusvertical #contactushorizontal {
  margin: 10px auto 10px 0;
}
#contactusvertical #hours {
  margin-top: 5px;
  font-weight: 800;
  text-transform: uppercase;
}
#copyright {
  color: black;
  text-shadow: 0px 0px 20px #fff;
}
@media screen and (max-width: 1200px) {
  .subtitle {
    display: none !important;
  }
  footer {
    padding: 2vh;
  }
  footer .hstack {
    flex-direction: column;
  }
  footer #imgvertical {
    display: none;
  }
  footer .container {
    text-align: center;
  }
  footer .hstack img#logo {
    display: none;
  }
  footer .hstack .vstack .title {
    margin: 0 auto;
  }
  #contactusvertical {
    width: auto;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 1400px) {
  #contactusvertical #contactushorizontal {
    display: none;
  }
}
