main {
  min-height: 50vh;
}
header {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  color: #fff !important;

  #navbar {
    img {
      width: 10vh;
    }

    a {
      text-decoration: none;
      color: #fff !important;
      margin: 0px 10px;
    }

    /* Dropdown Button */
    .dropbtn {
      color: rgba(255, 255, 255, 1);
      border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      padding-top: 2vh;
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.95);
      min-width: 400px;
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: rgba(255, 255, 255, 0.5) !important;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown:hover > .dropbtn {
      color: pink !important;
    }
    .dropdown:hover > .dropdown-content a:hover {
      color: rgba(255, 255, 255, 1) !important;
    }

    .navbar-brand {
      padding: 0px 5px;
      margin-left: 15px;
    }

    #headerdonatebutton {
      margin-right: 20px;

      a {
        color: #000 !important;
      }
    }
  }
}
